@model ForkAndFarm.Models.Advertisement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="green">
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedByOrganization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedByOrganization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedByPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedByPhone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="/PortalVM/MyAds">Back to List</a>
        </div>
    }
</div>
