@model IEnumerable<ForkAndFarm.Models.Deal>

@{
    ViewBag.Title = "ShowProposedDeals";
}

<h2>ShowProposedDeals</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProposedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTerms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfferedTo)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfferedTo)
        </td>
       
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back To List", "Index", "SupplyOffers")
</div>
